.container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.new-box-btn {
  padding: 10px 20px;
  border-radius: 6px;
  border: 0.5px solid rgb(190, 179, 245);
  cursor: pointer;
}
