.container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0 auto;
}

.new-box-btn {
  padding: 10px 20px;
  border-radius: 6px;
  border: 0.5px solid rgb(21, 21, 21);
  cursor: pointer;
}

.paragraph1 {
  margin: 10px auto;
}

.paragraph2 {
  margin-top: 0;
}
