body {
  margin: 0 auto;
}

.container {
  padding: 30px 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.new-box-btn {
  padding: 10px 20px;
  border-radius: 6px;
  border: 0.5px solid rgb(21, 21, 21);
  cursor: pointer;
}

.paragraph1 {
  margin: 10px auto;
}

.paragraph1 {
  margin: 10px auto;
}

.paragraph2 {
  margin-top: 0;
}

.box {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 8px 6px;
}
